<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Display Destination</title>
<!-- Compiled and minified CSS -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Import the Materialize Icons -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">

<!-- Import fonts from Googlefonts-->
<link
	href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap"
	rel="stylesheet">

<!-- Compiled and minified JavaScript -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js">
	
</script>

<style>
h1 {
	color: #424242;
	font-weight: bold;
	font-family: 'Indie Flower', cursive;
}

html {
	margin: 0px;
	height: 100%;
	width: 100%;
}

body {
	background: linear-gradient(to right, #9575cd, #0097a7) 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin: 0px;
}
</style>
</head>
<body>
	<div class="container">
		<footer class="page-footer transparent">
			<h1 class="center-align">Here is a list of all the Destinations!</h1>
			<div class="card-panel #424242 grey darken-3">
				<table class="highlight centered">
					<thead>
						<tr>
							<th>Destination Name</th>
							<th>Duration of Stay (Days)</th>
							<th>Went With</th>
							<th>Year</th>
							<th>Comment</th>
						</tr>
					</thead>
					<tr th:each="destination:${destinationList}">
						<td th:text="${destination.name}">Joss</td>
						<td th:text="${destination.duration}">10</td>
						<td th:text="${destination.wentWith}">Pooja</td>
						<td th:text="${destination.year}">2020</td>
						<td th:text="${destination.comment}">Was amazing!</td>
					</tr>
				</table>
			</div>
			<br>
			<div class="footer-copyright #424242 grey darken-3">
				<div class="left-align">
					<a href="/" class="btn btn-block waves-effect orange waves-red">Go
						to Home<i class="material-icons right">home</i>
					</a>
				</div>
			</div>
		</footer>
	</div>
</body>
</html>